body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

header, footer {
    border: 2px solid black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
}

main {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

#texto-pais {
    text-align: center;
}

#articuloUno {
    border: 2px solid black;
    padding-top: 50px;
}

#articuloDos {
    border: 2px solid black;
    text-align: center;
}