body {
    border: 2px solid rgba(0, 0, 0, 0.3);
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    color: rgba(0, 0, 0, 0.5);
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

#article-evento {
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    text-align: center;
    padding: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
    text-align: center;
}

.article-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.color-fondo {
    border-radius: 5px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
}

.alineacion {
    border-radius: 5px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
}

input {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

select {
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

button {
    border: none;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}