body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: auto;
    max-width: 800px;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 0, 0.3);
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

article {
    display: flex;
    padding: 50px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 750;
    font-size: 15px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.1);
    font-style: italic;
}

input#ingresar_universidad {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 30px;
    width: 250px;
    font-size: 20px;
}

a {
    margin: 16px;
    font-weight: 700;
    color: rgb(255, 255, 0);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

#article_datos_unlam {
    max-width: 175px;
}

#article_ingresar_datos {
    max-width: 400px;
}

#contenedor_universidad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#p_ingresar_universidad {
    font-size: 20px;
}

#botones {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    gap: 10px;
}

#button_celeste {
    background-color: lightblue;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

#button_violeta {
    background-color: violet;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

#button_orange {
    background-color: orange;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

#button_restablecer {
    background-color: #eee;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    #contenedor_universidad {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #contenedor_universidad {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }
}