@import url("temas-colores-fuentes.css");

#encabezado-principal {
   background-color: black;
}

#footer-principal {
   background-color: black;
}

/* ========== MODIFIQUE A PARTIR DE ACÁ ========== */

body {
   margin: auto;
   background-color: yellow;
   font-family: 'Courier New', Courier, monospace;
}

#seccion-pinturas {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 50px;

}

#seccion-pinturas img {
   height: auto;
   width: 100%;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

h3 {
   font-size: 30px;
   text-align: center;
   font-family: 'Alike';
   color: #bbab1b;
}

p {
   text-align: center;
   font-size: 20px;
   text-shadow: 0px 0px 0.5px black;
   font-family: 'Inknut+Antiqua';
   color: #ea9596;
}

.articuloUno {
   background-color: #0c3855;
   box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

.articuloDos {
   background-color: #8f1421;
   box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
}