* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 2px solid black;
    padding: 10px 20px 20px;
    text-align: center;
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#contenedor_texto {
    border: solid 2px black;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    align-items: start;
}

#cuadro_opciones {
    display: flex;
    flex-direction: column;
}

#cuadro_texto {
    border: 2px solid black;
    width: 100%;
    height: 135px;
}

#campo_texto {
    width: 100%;
}

#campo_color {
    width: 100%;
}