@media (max-width: 768px) {
    #seccion-categoria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #seccion-categoria {
        grid-template-columns: 1fr;
    }
}