body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    border: 2px solid black;
    grid-column: 1 / -1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

main {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#texto-titulo {
    text-align: center;
}

#articulo-texto {
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}

#articulo-color {
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 70px;
}