body {
    border: 2px solid black;
    max-width: 700px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    margin-top: 50px;
    zoom: 0.5;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
    border-radius: 5px
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px
}

.article-botones {
    border: 2px solid black;
    margin: 20px;
}

input {
     border-radius: 5px;
     border: none;
     border: 2px solid black;
     padding: 5px;
}

::placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
}

label {
    margin: auto;
}

.clase_ingresar_universidad {
    display: flex;
}

u {
    color: blue;
}

.article-datos-unlam {
    border: 2px solid black;
    margin: 20px;
}

button {
    transition: transform 0.1s;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border: 2px solid black;
    padding: 5px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.99);
}

div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}