body {
    font-family: Arial, sans-serif;
}

header, footer {
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#articuloUno {
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#articuloDos {
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}