body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  grid-column: 1 / -1;
}

main {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#articulo-texto {
  border: 2px solid black;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
}

#articulo-color {
  border: 2px solid rgb(0, 0, 0);
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}